#home{
    /* background-color: red; */
    height: 500px;
    text-align: center;
    background-image: url("../IMG/h_img.jpg");
    font-size: 10px;
    font-family: sans-serif;
}

#contact-us{
    height: 400px;
    background-image: url("../IMG/c_img.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    text-align: center;
    
}
#about{
    height: 500px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;

}
#what-we-do{
    height: 500px;
    text-align: center;
}
#services{
    height:400px;
    background-image: url("../IMG/s_image.jpg");
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    
}
.Footer{
    text-align: center;
    /* float: center; */
    font-size: 8px;
    font-family: Verdana;
}
img{
    padding-bottom: 10px;
    padding-right:10px ;
}
h4{
    text-align: center;
}
