#home{
    /* background-color: red; */
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
}

#contact{
    height: 500px;
    background-image: url('/home/moringa/Desktop/delani-studio/IMG/c_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#about{
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;

}
#services{
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    
}

